<div class = "container">
  <div class = "row">
    <div class = "col-md-10 col-md-offset-1">
      <div class = "row no-gutter c-block" id = "home-header">
      <div class = "col-md-5 ">
        <div class = "row left top" id = "who-block">
          <h1 class = "header-text" id = "who-hover">who am I?</h1>
          <div class = "hidden-text" id = "who-text">
            <div class = "row">
              My name is Sean Morrissey, I am an Irish web developer with a 
              background in web and game programming. You can check out my GitHub, 
              LinkedIn and Twitter using the buttons below.
            </div>
            <br/>
            <div class = "row" id = "who-btn">
              <a href = '#' class = "btn" id = "li-btn"></a>&emsp;
              <a href = '#' class = "btn" id = "tw-btn"></a>
            </div>
          </div>
        </div>
        <div class = "row left bot" id = "what-block">
          <h1 class = "header-text" id = "what-hover">what do I do?</h1>
          <div class = "hidden-text" id = "what-text">
            <div class = "row">
              I'm a freelance web developer with experience in creating 
              community websites for games. I am knowledgable in many different
              languages such as Ruby, Python, PHP, Java and C++. Check below for
              examples of my work and what I can do.
            </div>
            <br/>
            <div class = "row">
              <a href = '#' class = "btn btn-primary btn-block">My Work</a>
            </div>
          </div>
        </div>
      </div> <!-- /left section -->
      <div class = "col-md-7 right">
        <div class = "slideshow">
           <div>
             <img src = 'https://static.pexels.com/photos/7059/man-people-space-desk.jpg'>
           </div>
           <div>
             <img src = 'https://static.pexels.com/photos/7366/startup-photos.jpg'>
           </div>
           <div>
             <img src = 'https://static.pexels.com/photos/7114/laptop-mobile.jpg'>
           </div>
        </div> <!-- /slideshow -->
      </div> <!-- /right section -->
      </div> <!-- /home-header c-block -->
      <div class = "row c-block" id = "blog-block">
        
      </div>
    </div>
  </div>
</div>