<div class = "container">
    <div class = "row">
        <div class = "col-md-10 col-md-offset-1">
            <div class = "row no-gutter" id = "home-header">
                <div class = "col-md-5 ">
                    <div class = "row left top">
                        <h1>who am I?</h1>
                    </div>
                    <div class = "row left bot">
                        <h1>what do I do?</h1>
                    </div>
                    
                </div>
                <div class = "col-md-7 right">
                    <div class = "slideshow">
                       <div>
                           <img src = 'https://static.pexels.com/photos/7059/man-people-space-desk.jpg'>
                       </div>
                       <div>
                           <img src = 'https://static.pexels.com/photos/7366/startup-photos.jpg'>
                       </div>
                       <div>
                           <img src = 'https://static.pexels.com/photos/7114/laptop-mobile.jpg'>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>